<% include ./template/header %>
<% include ./template/nav %>

<style>
  body{
    background-color: #FFDC00;
  }
</style>

<div class="row">
  <div class="small-12 columns">
    <h1>Watson Image Analysis</h1>
  </div>
</div>

<div class="row">
  <div class="small-2 columns">
    <input type="text" id="txt-image" placeholder="URL of Image" />
    <button style="width: 100%;" class="tiny radius" id="btn-image">Analyze Image</button>
  </div>
  <div class="small-5 columns">
    <img class="th" id="photo">
  </div>
  <div class="small-5 columns">
    <ul id="statistics"></ul>
  </div>
</div>

<% include ./template/scripts %>
<script src="/js/image.js"></script>
<% include ./template/footer %>
